.sidebar {
  background-color: rgba(30,30,30,1);
  min-width: 400px;
  max-width: 400px;
  color: white;

  &__logo {
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: 400;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255,255,255,.2);
    margin-bottom: 30px;
  }

  &__filters {
    padding: 0 30px;

    h2 {
      margin-bottom: 0px;
    }

    fieldset {
      border: none;
      // margin-bottom: 30px;
      padding: 20px 0;
      // border-top: 1px solid rgba(255,255,255,.2);
      // border-bottom: 1px solid rgba(255,255,255,.2);
    }

  }

}
