.slider {

  // height: 50px;
  width: 100%;
  position: relative;

  &__range {
    height: 5px;
  }

  &__infos {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    h3 {
      font-size: 17px;
    }

    p {
      text-align: right;
      font-size: 13px;
      position: relative;
      top: 3px;
    }
  }

  &__handle {

    transform: translate3d(0, -3px, 0);
    // margin-right: 5px;
    // top: -3px;
    width: 11px;
    height: 11px;
    line-height: 50px;
    text-align: center;
    background: white;
    color: white;
    cursor: pointer;
    border-radius: 100%;

    &__value {
      background-color: #7F7F7F;
      padding: 2px 0;
      border-radius: 3px;
      font-size: 14px;
      position: absolute;
      padding: 4px 8px;
      line-height: normal;
      top: -35px;
      opacity: 0;
      transition: opacity 300ms ease;
      transform: translateX(-50%);
    }

    &.active {
      .slider__handle__value {
        opacity: 1;
      }
    }

  }

  &__bar {

    // top: 20px;
    height: 5px;
    position: relative;
    background: rgba(255,255,255,.3);
    border-radius: 3px;

    &-1 {
      background: rgba(255,255,255,.6);
    }
    &-2 {
      background: rgba(255,255,255,.3);
    }

  }

}
