$black: #1a1a1a;
$imdb: #e5b821;

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

.app {

  // min-height: 100%;
  // height: 100%;

  &__content {
    display: flex;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }

}

.clamp-css {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}

@import "sidebar";
@import "slider";
@import "movies";
@import "form";
@import "autosuggest";
@import "scrollbar";
