html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

.app {

  height: 100%;
  display: flex;

  .sidebar {
    background-color: black;
    height: 100%;
    width: 500px;
    padding: 20px;
  }

  .movies {
    padding: 20px;
  }

  fieldset {
    border: none;
    margin-bottom: 20px;
  }

}

@import "slider";
